.header {
    background-color: green;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-top: 7px;
}

.logo {
    width: 130px;
    margin-right: 400px;
}

.menu-item {
    color: white;
    padding-left: 10px;
    padding-right: 25px;
    position: relative;
    bottom: 15px;
    font-weight: bold;
}

.menu-item:hover {
    cursor: pointer;
    background-color: darkgreen;
}